<header id="header_main">
   <section class="header_container">
      <img class="img_logo" src="../../../assets/imagens/star_logo.svg" alt=""/>
      

      <div class="menu_space">
         <div class="space_option">

            <p class="menu_description" href=""><span class="text_option">00 Home</span></p>
            <p class="menu_description" href=""><span class="text_option">01 Destination</span></p>
            <p class="menu_description" href=""><span class="text_option">02 Crew</span></p>
            <p class="menu_description" href=""><span class="text_option">03 Technology</span></p>
            
         </div>
      </div>

   </section>
</header>

